## PySpark Session-1

In [5]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\ananth\appdata\local\programs\python\python38\lib\site-packages (3.1.1)
Requirement already satisfied: py4j==0.10.9 in c:\users\ananth\appdata\local\programs\python\python38\lib\site-packages (from pyspark) (0.10.9)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pyspark

In [8]:
pip install pandas

Collecting pandas
  Downloading pandas-1.2.4-cp38-cp38-win_amd64.whl (9.3 MB)
Collecting numpy>=1.16.5
  Downloading numpy-1.20.3-cp38-cp38-win_amd64.whl (13.7 MB)
Collecting pytz>=2017.3
  Downloading pytz-2021.1-py2.py3-none-any.whl (510 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\ananth\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\ananth\appdata\local\programs\python\python38\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.20.3 pandas-1.2.4 pytz-2021.1
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd

In [10]:
pd.read_csv("Test1.csv")

  Name  Age
0    A   21
1    B   22
2    C   23
3    D   24

In [11]:
# Initialize spark session
from pyspark.sql import SparkSession

In [14]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [15]:
spark

In [16]:
df_spark = spark.read.csv("Test1.csv")

In [19]:
df_spark

DataFrame[_c0: string, _c1: string]

In [20]:
df_spark.show()

+----+---+
| _c0|_c1|
+----+---+
|Name|Age|
|   A| 21|
|   B| 22|
|   C| 23|
|   D| 24|
+----+---+

In [26]:
# Another option to read csv file and retain the header
df_pyspark = spark.read.option('header','true').csv("Test1.csv")

In [23]:
spark.read.option('header','true').csv("Test1.csv").show()

+----+---+
|Name|Age|
+----+---+
|   A| 21|
|   B| 22|
|   C| 23|
|   D| 24|
+----+---+

In [28]:
# It will prompt dataframe of type pyspark instead of pandas
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [30]:
df_pyspark.head(3)

[Row(Name='A', Age='21'), Row(Name='B', Age='22'), Row(Name='C', Age='23')]

In [32]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)