## PySpark Session-4:

In [1]:
# create spark session and import the data
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [4]:
df_pyspark = spark.read.csv("Test4.csv", header='True', inferSchema=True)

In [5]:
df_pyspark.show()

+----+---+---+------+
|Name|Age|Exp|Salary|
+----+---+---+------+
|   A| 21|  3| 30000|
|   B| 23|  4| 45000|
|   C| 22|  3| 38000|
|   D| 24|  4| 55000|
|   E| 25|  5| 60000|
|   F| 24|  3| 58000|
|   G| 25|  5| 62000|
|   H| 22|  2| 28000|
+----+---+---+------+

In [12]:
# Filter operation in Spark package
# Filter: salary less than 40000

df_pyspark.filter("Salary<40000")
df_pyspark.filter("Salary<40000").show()

# Another way of coding:
df_pyspark.filter(df_pyspark["Salary"]<40000).show()

+----+---+---+------+
|Name|Age|Exp|Salary|
+----+---+---+------+
|   A| 21|  3| 30000|
|   C| 22|  3| 38000|
|   H| 22|  2| 28000|
+----+---+---+------+

+----+---+---+------+
|Name|Age|Exp|Salary|
+----+---+---+------+
|   A| 21|  3| 30000|
|   C| 22|  3| 38000|
|   H| 22|  2| 28000|
+----+---+---+------+

In [10]:
# Filter data and select only particular columns
# Filter the data: salary < 40000 and select columns Name, Salary

df_pyspark.filter("Salary<40000").select(["Name","Salary"])
df_pyspark.filter("Salary<40000").select(["Name","Salary"]).show()

+----+------+
|Name|Salary|
+----+------+
|   A| 30000|
|   C| 38000|
|   H| 28000|
+----+------+

In [20]:
# Putting multiple conditions
# Salary < 40000 and Exp=3years
df_pyspark.filter( (df_pyspark["Salary"]<40000) & (df_pyspark["Exp"]==3) )
df_pyspark.filter( (df_pyspark["Salary"]<40000) & (df_pyspark["Exp"]==3) ).show()

+----+---+---+------+
|Name|Age|Exp|Salary|
+----+---+---+------+
|   A| 21|  3| 30000|
|   C| 22|  3| 38000|
+----+---+---+------+

In [21]:
# Inverse filter operation
# Use ~ to reverse the filter condition

df_pyspark.filter(~(df_pyspark["Salary"]<40000)).show()

+----+---+---+------+
|Name|Age|Exp|Salary|
+----+---+---+------+
|   B| 23|  4| 45000|
|   D| 24|  4| 55000|
|   E| 25|  5| 60000|
|   F| 24|  3| 58000|
|   G| 25|  5| 62000|
+----+---+---+------+