## PySpark Session-5

In [1]:
# Create spark session and import the dataset

from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [4]:
df_pyspark = spark.read.csv("Test5.csv", header=True, inferSchema=True)

df_pyspark.show()

+----+---+---+----+------+
|Name|Age|Exp|Dept|Salary|
+----+---+---+----+------+
|   A| 21|  3|  DS| 30000|
|   B| 23|  4|  DS| 45000|
|   C| 22|  3|  AI| 38000|
|   D| 24|  4|  ML| 55000|
|   E| 25|  5|  ML| 60000|
|   F| 24|  3|  AI| 58000|
|   G| 25|  5| IOT| 62000|
|   H| 22|  2| IOT| 28000|
+----+---+---+----+------+

In [9]:
# To understand the data type use printSchema
# Its always better to know the data types before going for groupby and aggregation

df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Exp: integer (nullable = true)
 |-- Dept: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [10]:
# Groupby function:
# Here will be using the groupby function and some aggregate functions

df_pyspark.groupBy("Name").sum().show()

+----+--------+--------+-----------+
|Name|sum(Age)|sum(Exp)|sum(Salary)|
+----+--------+--------+-----------+
|   F|      24|       3|      58000|
|   E|      25|       5|      60000|
|   B|      23|       4|      45000|
|   D|      24|       4|      55000|
|   C|      22|       3|      38000|
|   A|      21|       3|      30000|
|   G|      25|       5|      62000|
|   H|      22|       2|      28000|
+----+--------+--------+-----------+

In [15]:
# Note: Please make a note that that aggregative functions will be applid to integer datatype

# Groupby dept and find the sum of Salary only

df_pyspark.groupBy("Dept").sum("Salary").show()

+----+-----------+
|Dept|sum(Salary)|
+----+-----------+
| IOT|      90000|
|  AI|      96000|
|  DS|      75000|
|  ML|     115000|
+----+-----------+

In [16]:
# Groupby dept and find the mean Salary only

df_pyspark.groupBy("Dept").mean("Salary").show()

+----+-----------+
|Dept|avg(Salary)|
+----+-----------+
| IOT|    45000.0|
|  AI|    48000.0|
|  DS|    37500.0|
|  ML|    57500.0|
+----+-----------+

In [17]:
# Groupby dept and find the count

df_pyspark.groupBy("Dept").count().show()

+----+-----+
|Dept|count|
+----+-----+
| IOT|    2|
|  AI|    2|
|  DS|    2|
|  ML|    2|
+----+-----+

In [18]:
# Applying direct aggregate functoin 'agg'

df_pyspark.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|     376000|
+-----------+

In [ ]:
# In addition to these, we have other aggregate functions like min, max, sum, avg, pivot...